In [1]:
# Import the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Import the dataset

dataset = pd.read_csv('2.2-Data.csv.csv')

# Have a look at the entire dataset
dataset

        State   Age   Salary Purchased
0  California  42.0  60000.0        No
1     Florida  29.0  55000.0       Yes
2       Texas  27.0  72000.0        No
3     Florida  26.0  48000.0        No
4       Texas  39.0      NaN       Yes
5  California  34.0  54000.0       Yes
6     Florida   NaN  57000.0        No
7  California  46.0  80000.0       Yes
8       Texas  51.0  85000.0        No
9  California  38.0  75000.0       Yes

In [6]:
# split the dataset into features and target variable

X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, -1].values

# preview the features and target variable
print(X)
print(Y)

[['California' 42.0 60000.0]
 ['Florida' 29.0 55000.0]
 ['Texas' 27.0 72000.0]
 ['Florida' 26.0 48000.0]
 ['Texas' 39.0 nan]
 ['California' 34.0 54000.0]
 ['Florida' nan 57000.0]
 ['California' 46.0 80000.0]
 ['Texas' 51.0 85000.0]
 ['California' 38.0 75000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [8]:
# check basic statistics of the dataset

dataset.describe()

             Age        Salary
count   9.000000      9.000000
mean   36.888889  65111.111111
std     8.666667  13100.042409
min    26.000000  48000.000000
25%    29.000000  55000.000000
50%    38.000000  60000.000000
75%    42.000000  75000.000000
max    51.000000  85000.000000