In [1]:
# Import the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Import the dataset

dataset = pd.read_csv('2.2-Data.csv.csv')

# Have a look at the entire dataset
dataset

        State   Age   Salary Purchased
0  California  42.0  60000.0        No
1     Florida  29.0  55000.0       Yes
2       Texas  27.0  72000.0        No
3     Florida  26.0  48000.0        No
4       Texas  39.0      NaN       Yes
5  California  34.0  54000.0       Yes
6     Florida   NaN  57000.0        No
7  California  46.0  80000.0       Yes
8       Texas  51.0  85000.0        No
9  California  38.0  75000.0       Yes