In [1]:
# Import the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Import the dataset

dataset = pd.read_csv('3.3 Salaries.csv.csv')

dataset.head()

   Years of Experience  Salary
0                  1.1   39343
1                  1.3   46205
2                  1.5   37731
3                  2.0   43525
4                  2.2   39891

In [6]:
# Split the data into dependent and independent variable

X = dataset.iloc[:, 0].values
Y = dataset.iloc[:, -1].values

In [9]:
# split the dataset into train and test set

# import the libraries
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=1/3, random_state=0)